@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins';

}

main{
    background-color: #3498db;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.row{
    width: 1000px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    color: white;
}

#search{
    font-size: 25px;
    padding: 10px;
    border-radius: 25px;
    border-style: none;
    box-shadow: 0 0 0 grey;
    border-color: white;
    text-align: center;
    
}